{% extends 'base.html.twig' %}

{% block title %}Liste des cours{% endblock %}

{% block body %}
    <h1>Nos cours</h1>
    <ul>
        <li>Mathématiques</li>
        <li>Français</li>
        <li>Histoire-Géographie</li>
        <li>Physique-Chimie</li>
    </ul>
{% endblock %}
