{% extends 'base.html.twig' %}

{% block title %}Accueil SchoolPrepar{% endblock %}

{% block body %}
    <h1>Bienvenue sur SchoolPrepar</h1>
    <p>Ceci est la page d'accueil de notre plateforme de préparation scolaire.</p>
{% endblock %}