{# templates/front/partials/footer.html.twig #}
<div class="footer" style="background:#1a3c6e; padding:20px 0; text-align:center;">
  <p style="color:#b8cae8; margin:0;">
    Copyright &copy; 2025–2026 SchoolPrepar &mdash; iPNet Institute of Technology.<br>
    Développé par KPETIGO Florentin &mdash; GL &mdash; UE IT 232
  </p>
</div>
