{# templates/admin/partials/footer.html.twig #}
<footer class="main-footer">
  <strong>Copyright &copy; 2025–2026 <a href="{{ path('app_home') }}">SchoolPrepar</a>.</strong>
  iPNet Institute of Technology – KPETIGO Florentin – GL – UE IT 232
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> TP2 – Symfony
  </div>
</footer>
